.welcome{
    text-align: center;
}

.information{
    text-align: center;
    position: relative;
    top: 16px;
}

.logincontainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 30px; 
} 

.form {
    width: calc(33.33% - 20px);
    margin-right: 20px;
}

.d-grid{
    margin-top: 10px;
}