.welcome{
    text-align: center;
}

.information{
    text-align: center;
    position: relative;
    top: 16px;
}

.logincontainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 30px; 
} 

.form {
    width: calc(33.33% - 20px);
    margin-right: 20px;
}

.d-grid{
    margin-top: 10px;
}

/* Styles for the forms and container */
.formcontainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-bottom: 20px;
    padding: 50px;
  }
  
  .form {
    width: calc(33.33% - 20px);
    margin-right: 20px;
  }
  
  .form:last-child {
    margin-right: 0;
  }
  
  /* Styles for the labels and inputs */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Styles for the buttons */
  button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #0d6efd;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  label {
    margin-right: 8px;
  }
  
  select {
    margin-right: 16px;
  }
  
  .button {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #0d6efd;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button:hover {
    opacity: 0.8;
  }

  img {
    width: 200px;
    height: 150px;
    margin-top: 16px;
    padding: 45px;
  }
  
  .car-table {
    margin: 0 auto;
    width: 80%; /* or a fixed value, such as "600px" */
  }  
  .car-table thead {
    background-color: #f2f2f2;
  }
  .car-table tbody tr {
    background-color: #fff;
  }
  .car-table tbody tr {
    background-color: #fff;
  }
  .car-table th {
    text-align: left;
    font-weight: bold;
    padding: 8px;
  }
  .car-table td {
    padding: 8px;
  }
  .car-table td, .car-table th {
    border: 1px solid #0d6efd;
    padding: 8px;
  }
  
  .form-group {
    display: inline-block;
    margin-right: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select, input[type="text"] {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  
  table {
    border-collapse: collapse;
    width: 35;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

body {
    padding-bottom: 130px;
}

.footer {
    height: 100px;
    color: #fff;
}